/* * * * * * * * * * * * * * * * * * * * * * * * *  EBSTL.CSS  * * * * * * * * * * * * * * * * * * * * * * * * */

* {

}

body {
  background: #E7E7E7;
}

/* AREA */
#gameArea {
  background: #FFF;
  border: 1px solid #C0C0C0;
  overflow: hidden;
  z-index: 100;
}
#bottomArea {
  background: transparent;
  z-index: 110;
}
#middleArea {
  z-index: 150;
}
#topArea {
  cursor: pointer;
  z-index: 190;
}
#gameLogs {
  background: rgba( 30, 30, 30, 0.7 );
  color: #FFFFFF;
  font-family: monospace;
  font-size: 10px;
  font-weight: bold;
  z-index: 300;
}

/* ELEMENTS */
#score {
  color: #303030;
  text-align: center;
  z-index: 180;
}

/* CHARACTERS */
#bird {
  background: #BAFF00;
  border-radius: 50px;
  z-index: 155;
}
.block {
  background: #40618E;
  z-index: 160;
}
#b1 {
  
}
